.container {
    width: 384px;
    height: 374px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    margin-bottom: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.header {
    font-weight: 550;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    padding-top: 48px;
    padding-bottom: 20px;
}

.input {
    margin-left: 20px;
    font-weight: 400;
    font-size: 14px;
}

.input-line {
    display: flex;
    align-items: center;
    width: 320px;
    height: 40px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    color: #BFBFBF;
    padding-left: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
    margin-top: 4px;
}

.footer {
    display: flex;
    justify-content: center;
}

.submit {
    margin-top: 20px;
    width: 335px;
    height: 40px;
    background: #1890FF;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.signin {
    margin-top: 10px;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #8C8C8C;
}

a.link {
    color: #1890FF !important;
}